html{
  height: 100%;
}
#logo-title {
  font-size: 1.5em; 
}

#logo-title img {
  width: 50px;
}
#username-nav{
  font-size: 14px;
  color: #474747;
}
.material-icons {
  vertical-align: middle;
}

.btn {
  vertical-align: middle;
}

#dashboard-lateral {
  border-radius: 5% 0;
  box-shadow: inset -2px 0px 20px rgb(224, 224, 224);
  background-color: rgb(255, 255, 255);
  height: 100vh;
}
#lateral-header {
  text-align: center;
}
#lateral-header .btn-group a {
  padding: 5px;
  color: #5a5a5a;
}

ul#lateral-action {
  padding: 0;
}
#lateral-action li {
  margin-bottom: 12px;
  border: none;
  padding: 5px;
  text-align: center;
}
#lateral-action li:hover {
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  text-align: center;
}

#lateral-action a li{
  color: #474747;
}
#lateral-action a.active li {
  color: #8d0e57;
}
#lateral-action a li:hover{
  color: #d6006d;
}
#lateral-action .material-icons {
  padding-right: 8px;
}
#dashboard-principal {
  background-color: #e4ecf1;
}

.control-panel{
  color: #000;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #8d0e57;
}
.nav-link {
  color: #474747;
}
.nav-link:hover {
  color: #d6006d;
}
.bg-primary {
  background-color: #8d0e57;
}
.entrada{
  background-color: #2fa891 !important;
  border: 1px solid #2fa891 !important;
} 
.hide{
  display: none;
}

#icons-selected{
  color: #5a5a5a;
  font-size: 11px;
}
#icons-selected .material-icons{
  font-size: 18px;
} 

@media (max-width: 720px){
  .option-text{
    display: none;
  }
  
  #lateral-header{
    display: none;
  }
  #logo-title img{
    width: 15%;
  }
  .hidden{
    display: none;
  }
}

.btn-icons{
  width:34px; 
  height:34px; 
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-icons .material-icons{
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 35px;
}
#egresados-posiciones .btn-in, #egresados-posiciones .btn-out{
  display: none;
}